<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
    <title>Group 3 Pizza</title>
</head>
<body>
    <header>
        <nav>
            <img src="group3pizzalogo.png" alt="Logo">
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="specials.html">Specials</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <div class="test">
    <div class="menu-container">
        <h1>Popular Items</h1>
        <div class="menu">
                <div id="menu-item">
                    <img src="cheesepizza.jpg" alt="Cheese Pizza" width="150">
                    <h3>Cheese Pizza</h3>
                    <p>Large: $10.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="pepperonipizza.jpg" alt="Pepperoni Pizza" width="150">
                    <h3>Pepperoni Pizza</h3>
                    <p>Large: $10.99</p>
                    <button>Order Now</button>
                </div>
        </div>
    </div>
    <div class="menu-container">
        <h1>Specialty Pizzas</h1>
        <div class="menu">
                <div id="menu-item">
                    <img src="pineapplepizza.jpg" alt="Pineapple Pizza" width="150">
                    <h3>Pineapple Pizza</h3>
                    <p>Large: $12.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="bbqchickenandbaconpizza.jpg" alt="Chicken & Bacon Pizza" width="150">
                    <h3>Chicken & Bacon Pizza</h3>
                    <p>Large: $12.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="phillycheesesteakpizza.jpg" alt="Cheese Pizza" width="150">
                    <h3>Cheese Steak Pizza</h3>
                    <p>Large: $12.99</p>
                    <button>Order Now</button>
                </div>
        </div>
    </div>
    <div class="menu-container">
        <h1>Sides</h1>
        <div class="menu">
                <div id="menu-item">
                    <img src="breadsticks.jpg" alt="Breadsticks" width="150">
                    <h3>Breadsticks</h3>
                    <p>Large: $5.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="breadbites.jpg" alt="Parmesan Bread Bites" width="150">
                    <h3>Parmesan Bread Bites</h3>
                    <p>16 ct: $7.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="spaghetti.jpg" alt="Spaghetti" width="150">
                    <h3>Spaghetti</h3>
                    <p>$8.99</p>
                    <button>Order Now</button>
                </div>
        </div>
    </div>
    <div class="menu-container">
        <h1>Desserts</h1>
        <div class="menu">
                <div id="menu-item">
                    <img src="brownies.jpg" alt="Chocolate Fudge Brownies" width="150">
                    <h3>Brownies</h3>
                    <p>4ct: $5.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="cookiepizza.jpg" alt="Chocolate Chip Cookie Pizza" width="150">
                    <h3>Pizza Cookie</h3>
                    <p>8pc: $8.99</p>
                    <button>Order Now</button>
                </div>
        </div>
        <div class="menu">
                <div id="menu-item">
                    <img src="cinnamonbites.jpg" alt="Cinnamon Bites" width="150">
                    <h3>Cinnamon Bites</h3>
                    <p>8ct: $5.99</p>
                    <button>Order Now</button>
                </div>
        </div>
    </div>
    </div>
    <script>
        function addToCart() {
            document.getElementById("")
        }
    </script>
    </main>
    </body>
